<!--BANNER-->

<!--/BANNER-->

<!--CARD-->


<!-- <div class="card mt-5" *ngFor='let item of listaProduto'>
            <img src="https://i.imgur.com/9XIUgrh.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text"> {{item.produto.descricao}}</p>            
           </div> -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-5">
      <h1 class="text-center mt-5">ESCOLHA SEU PLANO</h1>
    </div>
  </div>


  <!--cards planos-->
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="display-5 text-warning">BOX PEQUENA</h2>
          <h3 class= "font-weight-bold ">R$ 69,99 / mensal</h3>
         
            <p class="font-weight-lighter mt-4">• Fidelidade mínima de 3 meses.</p>
            <p class="font-weight-lighter">• Cobrança automática no cartão de crédito</p>
          
         
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="display-5 text-warning">BOX MÉDIA</h2>
          <h3 class= "font-weight-bold ">R$ 89,99 / mensal</h3>
         
            <p class="font-weight-lighter mt-4">• Fidelidade mínima de 3 meses.</p>
            <p class="font-weight-lighter">• Cobrança automática no cartão de crédito</p>
          
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-5">
      <div class="card">
        <div class="card-body">
          <h2 class="display-5 text-warning">BOX GRANDE</h2>
          <h3 class= "font-weight-bold ">R$ 119,99/ mensal</h3>
         
            <p class="font-weight-lighter mt-4">• Fidelidade mínima de 3 meses.</p>
            <p class="font-weight-lighter">• Cobrança automática no cartão de crédito</p>
        </div>
      </div>
    </div>
    <!--/card planos-->

    
  <div class="container d-flex justify-content-center mt-5">
    <h3>Seja membro do clube</h3>
  </div>

    <div class="container mt-2">     
      <div class="row d-flex aling-items-center mb-5">
        <div class="col-md-12">
          <div class="form-group m-0 ">
            <label for="categoria ">Escolha sua Box</label>
            <select name="categoria" id="categoria" class="form-control border border-warning text-white font-weight-bold " [(ngModel)]='idCategoria'
              (change)='findByIdCategoria()'>
              <option *ngFor='let item of listaCategoria ' value={{item.id}}>
                {{item.tipo}}
              </option>
            </select>
          </div>    
          <div class="img-overlay mt-3 d-flex justify-content-center">

            <button class="btn btn-responsive btn-warning " routerLink='/dados'>Assine Já!</button>
        </div>    
  </div>

    <!--vantagens-->

    <div class="container mt-5 ">
      <div class="row align-itens mt-5 mb-5">

        <div class="col-md-6">
          <img class="img-fluid w-100" src="https://i.imgur.com/gFGwXm8.jpg">

        </div>


        <div class="col-md-6">
          <h3 class="text-center mb-3">Vantagens em Assinar</h3>

          
          <ul style="list-style-type:disc text-dark font-weight-bold mb-4">
            <li>Frete grátis para as regiões Sul, Sudeste e Centro-Oeste</li>
            <li>Entrega expressa por transportadora (95% dos kits)</li>
            <li>Receba todo mês de 5 a 6 produtos locais, cada kit de uma região diferente</li>
            <li>Produtos artesanais de pequenos produtores e da agroindústria familiar</li>
            <li>Acompanha folder com a descrição dos produtores + um mimo exclusivo</li>
            <li>Pause ou cancele sua assinatura quando quiser</li>
            <li>Envio da próxima caixa dia 07/10/20</li>

          </ul>
        
        </div>
      </div>
    </div>
    <!--/cards vantagens-->

    <!--card depoimentos-->


    <div class="col-md-12 d-flex justify-content-center mt-5 mb-5">
      <h3>Depoimentos de clientes</h3>
    </div>

    <div class="row d-flex justify-content-center mt-3">

      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/gtCpbD2.png" alt="Depoimento da Carol">
      </div>

      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/6uradKk.png" alt= "Depoimento da Fatinha">
      </div>

      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/xbTvVqP.png" alt= "Depoimento da Jucimara">
      </div>
    </div>

    <div class="row d-flex justify-content-center mt-3 mb-3">


      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/kpazjRz.png" alt="Depoimento do Jean ">
      </div>

      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/3EblAEQ.png" alt="Depoimento da Vanise ">
      </div>

      <div class="col-md-4">
        <img class="img-fluid w-100" src="https://i.imgur.com/1EGM5IG.png" alt="Depoimento da Elaine ">
      </div>
    </div>




    <!--ja estava aqui-->
<!--escolha--
<div class="row d-flex aling-items-center mb-5 mt-5">
  <div class="col-md-12">
    <div class="form-group m-0">
      <label for="categoria">Escolha sua Box</label>
      <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
        (change)='findByIdCategoria()'>
        <option *ngFor='let item of listaCategoria' value={{item.id}}>
          {{item.tipo}}
        </option>
      </select>
    </div>
  </div>
-->
    </div>