<div class="container-fluid p-0">
<nav class="navbar fixed-top navbar-light ">
    <a class="navbar-brand txtnav" href="#">
        <a href="https://imgur.com/CXQN2zT"><img src="https://i.imgur.com/CXQN2zT.png" width="30" height="30" title="source: imgur.com" /></a>
    CLUBE DA CULTURA</a>
    <div class="row  d-flex justify-content-center ">
        <div class="col-md-4 d-flex justify-content-center">
            <a class="navbar-brand p-3 txtnav  " routerLink='/home'>HOME</a>
            <a class="navbar-brand p-3 txtnav ml-3" routerLink='/sobre'>SOBRE</a>
            <a class="navbar-brand p-3 txtnav ml-3 " routerLink='/contato'>CONTATO</a>
            <a class="navbar-brand p-3 txtnav ml-3 " routerLink='/planos'>PLANOS</a>
        </div>
    </div>
    
    <button type="button" class="btn btn-outline-light">LOGIN</button>
   </nav>
</div>