<hr>
<!--FORMULÁRIO-->
<div class="container">
<div class="row mb-5">
    <div class="col-md-6">
        <h4 class="text-center">Entre em contato com a gente 
        </h4>
    </div>
</div>

<div class="row d-flex align-items-center">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Nome:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>

            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">E-mail:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Escreva aqui:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group d-flex justify-content-end">
                <div class="btn btn-outline-success">Enviar
                </div>
            </div>
        </form>

    </div>

    <div class="col-md-6">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14613.704558453495!2d-46.5676271345198!3d-23.696471703699217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce43b38037568b%3A0x40e3a8de88ecf21d!2sCidade%20da%20Crian%C3%A7a!5e0!3m2!1spt-BR!2sbr!4v1597974949901!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
</div>