<div class="container w-100 justify-content-center">
  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-center text-monospace"> Sobre Nós </h1>
    </div>
  </div>


  <div class="row w-100 mt-5 ">
    <div class="col-md-12 text-justify text-monospace">
      <p>
        Nós do clube da cultura visamos prestar um serviço de assinatura mensal sendo este uma Box com
        produtos selecionados e artesanais que busca valorizar o pequeno produtor local e a
        cultura regional de diversas regiões do Brasil, como forma de melhorar o distanciamento
        cultural entre diversos pontos do país.</p>
      <p>
        Nascemos com o propósito de contribuir com a problemática referente à redução da
        desigualdade social (apoio a produtores locais) e cultural presente em nosso país.
        Unindo produtores regionais com consumidores, proporcionando uma experiência através
        da assinatura de produtos exclusivos, como: camisetas, pinturas, artesanatos, pequenos
        mimos e alimentos regionais, sendo cada mês de uma região diferente do país, respeitando
        a cultura alimentar e a identidade de cada localidade.</p>
      <p>
        Ou seja, muito mais que produtos exclusivos e de identidade, o Clube da Cultura é um
        convite para um consumo mais imersivo, regionalizado e Brasileiro. </p>

    </div>
  </div>


  <div class="card mb-4 mt-5 d-flex" style="max-width: 350px;">
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.imgur.com/N9P0DTF.jpg" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="nome-integrante">Mauricio Guilherme</h5>
          <p class="card-text">Desenvolvedor Full Stack.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 mt-4 d-flex" style="max-width: 350px;">
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.imgur.com/JAkPahx.jpg" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="nome-integrante">Joelma</h5>
          <p class="card-text">Desenvolvedora Full Stack.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3 mt-4 d-flex" style="max-width: 350px;">
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.imgur.com/hLbpa6b.jpg" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="nome-integrante">William</h5>
          <p class="card-text">Desenvolvedor Full Stack.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3 mt-4 d-flex" style="max-width: 350px;">
    <div class="row">
      <div class="col-md-4">
        <img src="https://i.imgur.com/qx3Umcu.jpg" class="card-img rounded-circle" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="nome-integrante">Hellen Albuquerque</h5>
          <p class="card-text">Desenvolvedora Full Stack.</p>
        </div>
      </div>
    </div>
  </div>

  

</div>
