<div class="img-wrapper">
    <img class="img-responsive" src="https://i.imgur.com/j3O1oR2.jpg">
    <div class="img-overlay">
       
          <button class="btn btn-responsive btn-warning " routerLink='/cadastro'>Seja membro do clube</button>
    </div>
</div>

<div class="container w-100">
    <div>
        <div class="row text-center mt-5 w-100 ">
            <div class="col-md-12">
                <h1>
                    Viaje sem sair de casa
                </h1>
            </div>
        </div>
    </div>
    <!--CARDS-->
    <div class="container-fluid bg-style p-0 w-100 cards-responsive">
    
    <div class="card-group mt-5 ">

         <!--GIF-->
         <div class="card border-0 bg-style">
            <img src="https://i.imgur.com/GOemksj.gif" class="card-img-top w-70 h-70" alt="...">
            <div class="card-body ">

            </div>
        </div>
        <!--/GIF-->
        <!--LUPA-->
        <div class="card border-0 bg-style ">
            <img src="https://i.imgur.com/3s4QSnD.png" class="card-img-top w-50 mx-auto d-block mt-5 " alt="...">
            <div class="card-body ">
                <h5 class="card-title text-center">Curadoria</h5>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    suscipit
                    officia eveniet repellendus eligendi.</p>
            </div>
        </div>
        <!--/LUPA-->
       
        <!--BOX-->
        <div class="card border-0 bg-style">
            <img src="https://i.imgur.com/pjQoHEw.png" class="card-img-top w-50 h-70 mx-auto d-block mt-5" alt="...">
            <div class="card-body ">
                <h5 class="card-title text-center">Seleção</h5>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    suscipit officia eveniet repellendus eligendi.</p>
            </div>
        </div>
        <!--/BOX-->
        <!--CASA-->
        <div class="card border-0 bg-style">
            <img src="https://i.imgur.com/qunCnKK.png" class="card-img-top w-50 h-70 mx-auto d-block mt-5 "  alt="...">
            <div class="card-body ">
                <h5 class="card-title text-center">Seleção</h5>
                <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    suscipit officia eveniet repellendus eligendi.</p>
            </div>
        </div>
        <!--/CASA-->
    </div>    
</div> <!--/container cards-->
    <!--/CARDS-->
    <!--ITENS BOX-->
    <div class="row text-center mt-5 w-100 ">
        <div class="col-md-12">
            <h1>
                Itens exclusivos das nossas caixas !
            </h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8">
            <img src="https://i.imgur.com/HWy4gth.jpg" class="img-fluid "  alt="banner">
            
        </div>
        <div class="col-md-4">
            
            <div class='align-middle'>
            <p>CAMISETAS</p>
            <p>BEBIDA TÍPICA</p>
            <p>PINTURAS</p>
            <p>ARTESANATOS </p>
            <p>COMIDAS TÍPICAS</p>
            <p>PORTA RETRATOS</p>
            <p>ARTIGOS DIVERSOS</p>
            </div>

        </div>
    </div>
<!--/ITENS BOX-->

</div>
<!--div container-->



