    <div class="row ">
        <img src="https://i.imgur.com/j3O1oR2.jpg" class="img-fluid p-0 w-100" id="banner" alt="banner">
    </div>
<div class="container w-100">
    <div>
        <div class="row text-center mt-5 w-100">
            <div class="col-md-12">
                <h1>
                    Viaje sem sair de casa
                </h1>
            </div>
        </div>
    </div>

    <!--linha 1 - curadoria + gif + seleção-->
    <!--img lupa-->
    <div class="row d-flex mt-4 w-100 bg-style">
        <div class="col-md-4">
            <img class="tm-img" src="https://i.imgur.com/3s4QSnD.png" class="mx-auto d-block" alt="">
            <div class="media-body">
                <h5 class="mt-2 text-center"> Curadoria </h5>
                <p class="mb-0 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit
                    officia eveniet repellendus eligendi</p>
            </div>
        </div>
        <!--/img lupa-->

        <!--GIF-->
        <div class="col-md-4 ">
            <div class="d-flex justify-content-center">
                <img  src="https://media.giphy.com/media/toelXGUsYD6vtCN408/source.gif
                " class="w-70" alt="">
            </div>            
            <div class="media-body">
                <h5 class="mt-2 text-center"> GIF </h5>
                <p class="mb-0 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit
                    officia eveniet repellendus eligendi</p>
            </div>
        </div>
        <!--/GIF-->

        <!--img box-->
        <div class="col-md-4">
            <a href="https://imgur.com/ajoukjP"><img class="w-50 h-50" src="https://i.imgur.com/ajoukjP.png" title="source: imgur.com" /></a>
            <div class="media-body">
                <h5 class="mt-2 text-center"> Seleção </h5>
                <p class="mb-0 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit
                    officia eveniet repellendus eligendi</p>
            </div>
        </div>
        <!--/img box-->
    </div> <!--/linha 1 - curadoria + gif + seleção-->

    <!--linha 2 - entrega -->
    <div class="row d-flex justify-content-center mt-4 w-100">
        
        <div class="col-md-4"> 
            <img class="tm-img" src="https://i.imgur.com/7BMsumR.png" class="mx-auto d-block" alt="">
            <div class="media-body">
                <h5 class="mt-2 text-center"> Entrega </h5>
                <p class="mb-0 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere suscipit
                    officia eveniet repellendus eligendi</p>
            </div>
        </div>
        
    </div> <!--/linha 2 - entrega -->
   
</div>
<!--div container-->
